<!--<h2>User Profile</h2>-->
<!--<p>{{appUser.username}}</p>-->
<!--<p>{{appUser.email}}</p>-->
<!--<p>{{appUser.phone}}</p>-->
<!--<img [src]="appUser.ava" alt="">-->
<!--<button routerLink="/user/profile/edit">Edit Profile</button>-->
<!--<button routerLink="/user/profile/password">Change Password</button>-->
<div class="content-wrapper">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-black"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img [src]="appUser.ava"
                   alt="Avatar" class="img-fluid my-5" style="width: 100px;"/>
              <h5>Username</h5>
              <p>{{appUser.username}}</p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{appUser.email}}</p>
                  </div>
                  <div class="col-5 mb-2">
                    <h6>Phone</h6>
                    <p class="text-muted">{{appUser.phone}}</p>
                  </div>
                  <div class="col-5 mb-2">
                    <h6>
                      <button type="button" class="btn btn-gradient-success btn-rounded btn-fw btn-icon-text"
                              data-toggle="modal" data-target="#editProfile">Edit Profile
                      </button>
                    </h6>
                  </div>
                  <div class="col-8 mb-2">
                    <h6>
                      <button type="button" class="btn btn-gradient-success btn-rounded btn-fw btn-icon-text"
                              data-toggle="modal" data-target="#changeModal">Change Password
                      </button>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit Form</h4>
              <form class="forms-sample" [formGroup]="editForm" (ngSubmit)="editProfile()">
                <div class="form-group">
                  <label for="exampleInputName1">Username</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Username" [formControlName]="">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleSelectGender">Gender</label>
                  <select class="form-control" id="exampleSelectGender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>File upload</label>
                  <input type="file" name="img[]" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputCity1">City</label>
                  <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">Textarea</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
</div>
