<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-6 mb-4 mb-lg-0">
      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0">
          <div class="col-md-4 gradient-custom text-center text-black"
               style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img [src]="appUser.ava"
                 alt="Avatar" class="img-fluid my-5" style="width: 100px;"/>
            <h5>Username</h5>
            <p>{{appUser.username}}</p>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Information</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <p class="text-muted">{{appUser.email}}</p>
                </div>
                <div class="col-5 mb-2">
                  <h6>Phone</h6>
                  <p class="text-muted">{{appUser.phone}}</p>
                </div>
              </div>
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Edit Profile</h6>
                  <p class="text-muted">
                    <button type="button" style="min-width: 100px;height: 45px"
                            class="btn btn-gradient-success btn-rounded btn-fw btn-icon-text" data-toggle="modal"
                            data-target="#editProfile">Edit
                    </button>
                  </p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Change Password</h6>
                  <p class="text-muted">
                    <button type="button" style="min-width: 100px;height: 45px"
                            class="btn btn-gradient-success btn-rounded btn-fw btn-icon-text" data-toggle="modal"
                            data-target="#changePass">Change
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit FroFile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <form class="forms-sample" [formGroup]="editForm" (ngSubmit)="editProfile()" *ngIf="editForm">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Username"
                         formControlName="username">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Email"
                         formControlName="email">
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" placeholder="Phone"
                         formControlName="phone">
                </div>
                <div class="form-group">
                  <label>Ava upload</label>
<!--                  <input type="file" name="img[]" class="file-upload-default">-->
                  <div class="input-group col-xs-12">
                    <input type="file" #uploadAva (change)="onFileSelected($event)" formControlName="ava"
                           class="file-upload-browse btn btn-gradient-primary">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="editProfile()">Edit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Change PassWord</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <form class="forms-sample" [formGroup]="changePassForm" (ngSubmit)="changePassword()" *ngIf="editForm">
                <div class="form-group">
                  <label for="oldPassword">Old Password</label>
                  <input type="password" class="form-control" id="oldPassword" placeholder="Old Password"
                         formControlName="oldPassword">
                  <div *ngIf="!oldPassword.valid &&oldPassword?.touched">
                    <div [hidden]="!oldPassword?.errors?.['required']">
                      <p style="color: red"> Password is required </p>
                    </div>
                    <div [hidden]="!oldPassword?.errors?.['patten']">
                      <p style="color: red"> First letter should be capitalized, number should in the end</p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="password" class="form-control" id="newPassword" placeholder="New Password"
                         formControlName="newPassword">
                  <div *ngIf="!newPassword.valid &&newPassword?.touched">
                    <div [hidden]="!newPassword?.errors?.['required']">
                      <p style="color: red"> Password is required </p>
                    </div>
                    <div [hidden]="!newPassword?.errors?.['patten']">
                      <p style="color: red"> First letter should be capitalized, number should in the end</p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" (ngModelChange)="comparePassword()">
                  <div *ngIf="!confirmPassword.valid &&confirmPassword?.touched">
                    <div [hidden]="!confirmPassword?.errors?.['required']">
                      <p style="color: red"> Password is required </p>
                    </div>
                    <div [hidden]="!confirmPassword?.errors?.['confirmPassword']">
                      <p style="color: red">New Password and ConfirmPassword must be match</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="changePassword()">Edit</button>
      </div>
    </div>
  </div>
</div>
