<div>
  <form [formGroup]="editForm" (ngSubmit)="changePassword()">
    <table>
      <tr>
        <td>Old Password</td>
        <td><input type="password" formControlName="oldPassword"></td>
        <div *ngIf="!oldPassword.valid &&oldPassword?.touched">
          <div [hidden]="!oldPassword?.errors?.['required']">
            <p style="color: red"> Password is required </p>
          </div>
          <div [hidden]="!oldPassword?.errors?.['patten']">
            <p style="color: red"> First letter should be capitalized, number should in the end</p>
          </div>
        </div>
      </tr>
      <tr>
        <td>New Password</td>
        <td><input type="password" formControlName="newPassword"></td>
        <div *ngIf="!newPassword.valid &&newPassword?.touched">
          <div [hidden]="!newPassword?.errors?.['required']">
            <p style="color: red"> Password is required </p>
          </div>
          <div [hidden]="!newPassword?.errors?.['patten']">
            <p style="color: red"> First letter should be capitalized, number should in the end</p>
          </div>
        </div>
      </tr>
      <tr>
        <td>Confirm New Password</td>
        <td><input type="password" formControlName="confirmPassword" (ngModelChange)="comparePassword()"></td>
        <div *ngIf="!confirmPassword.valid &&confirmPassword?.touched">
          <div [hidden]="!confirmPassword?.errors?.['required']">
            <p style="color: red"> Password is required </p>
          </div>
          <div [hidden]="!confirmPassword?.errors?.['confirmPassword']">
            <p style="color: red">New Password and ConfirmPassword must be match</p>
          </div>
        </div>
      </tr>
      <tr>
        <td><button type="submit">Confirm</button></td>
      </tr>
    </table>
  </form>
</div>
