<div class="card">
  <div class="card-body">
    <button type="button" class="btn btn-gradient-danger" style="width: 200px;height: 50px" data-toggle="modal"
            data-target="#createCategory">
      <i class="mdi mdi-checkbox-marked-outline"></i> Add Category
    </button>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th style="marker-mid: none">Edit</th>
        <th style="marker-mid: none">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categoryList, index as i">
        <td>{{i + 1}}</td>
        <td>{{category.name}}</td>
        <td>
          <button class="btn btn-gradient-danger" data-toggle="modal" data-target="#edit"
                  style="width: 120px;height: 50px" (click)="getCategoryById(category.id)">Edit
          </button>
        </td>
        <td>
          <button class="btn btn-gradient-danger" data-toggle="modal" data-target="#delete"
                  style="width: 120px;height: 50px"
                  (click)="getDeleteCateId(category.id)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="createCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2" style="width: 210px;height: 50px">Create Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="forms-sample" [formGroup]="createForm" (ngSubmit)="createCategory()" *ngIf="createForm">
        <div class="modal-body">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label for="oldPassword">Name</label>
                  <input type="text" class="form-control" id="oldPassword" placeholder="name"
                         formControlName="name">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="createCategory()" data-dismiss="modal">Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mdi mdi-alert btn-icon-prepend"> Are You Sure You Want To Delete This Category</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteCategory(deleteID)" style="min-width: 100px"
                data-dismiss="modal">Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="editCategory()" *ngIf="editForm">
        <div class="modal-body">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">

                <div class="form-group">
                  <label for="oldPassword">Name</label>
                  <input type="text" class="form-control" placeholder="name"
                         formControlName="name">
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="editCategory()" style="min-width: 100px"
                  data-dismiss="modal">Edit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

