<div class="row">
  <h5>Share Wallet</h5>
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th> Icon</th>
              <th> Name Wallet</th>
              <th> Money</th>
              <th> User</th>
              <th> Detail</th>
            </tr>
            </thead>
            <tbody *ngFor="let wl of walletsshare;index as i">
            <tr>
              <td>{{i + 1}}</td>
              <td>
                <img src="{{wl.icon}}" style="width: 50px;height: 50px">
              </td>
              <td>
                {{wl.name}}
              </td>
              <td>{{numberWithCommas(wl.money)}} đ</td>
              <td>
                {{wl.appUser.username}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


