<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/img/login-image.jpg" alt="IMG">
      </div>
      <form class="login100-form validate-form" [formGroup]="signupForm" (ngSubmit)="signUp()">
					<span class="login100-form-title">
						Create New Account
					</span>
        <!--username-->
        <div class="wrap-input100 validate-input">
          <input class="input100" id="username" type="text" name="username" placeholder="username"
                 formControlName="username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-id-card" aria-hidden="true"></i>
						</span>
        </div>
        <div *ngIf="!username?.valid && username?.touched">
          <div [hidden]="!username?.errors?.['required']">
            <p style="color: red"> Username is required </p>
          </div>
        </div>
        <!--email-->
        <div class="wrap-input100 validate-input">
          <input class="input100" type="email" name="email" placeholder="email"
                 formControlName="email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
        </div>
        <div *ngIf="!email?.valid && email?.touched">
          <div [hidden]="!email?.errors?.['required']">
            <p style="color: red"> This field is required </p>
          </div>
          <div [hidden]="!email?.errors?.['email']">
            <p style="color: red"> This field must be email format </p>
          </div>
        </div>
        <!--password-->
        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>
        <div *ngIf="!password?.valid && password?.touched">
          <div [hidden]="!password?.errors?.['required']">
            <p style="color: red"> Password is required </p>
          </div>
          <div [hidden]="!password?.errors?.['minLength']">
            <p style="color: red"> Password need at least 6 words </p>
          </div>
          <div [hidden]="!password?.errors?.['patten']">
            <p style="color: red"> First letter should be capitalized, number should in the end</p>
          </div>
        </div>
        <!--confirmPassword-->
        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" name="confirmPassword" placeholder="Confirm Password"
                 formControlName="confirmPassword" (ngModelChange)="comparePassword()">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>
        <div *ngIf="!confirmPassword?.valid && confirmPassword?.touched">
          <div [hidden]="confirmPassword?.errors?.['required']">
            <p style="color: red"> ConfirmPassword is required </p>
          </div>
          <div [hidden]="confirmPassword?.errors?.['minLength']">
            <p style="color: red"> Password need at least 6 words </p>
          </div>
          <div>
            <p *ngIf="confirmPassword?.errors?.['confirmPassword']" style="color: red"> Password and ConfirmPassword must be match</p>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <p style="color: red">{{message}}</p>
          <button class="login100-form-btn" type="submit">
            Sign Up
          </button>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" routerLink="/login">
            Have an account/Login
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


