<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/img/login-image.jpg" alt="IMG">
      </div>
      <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="login()">
					<span class="login100-form-title">
						Member Login
					</span>

        <div class="wrap-input100 validate-input">
          <input class="input100" id="username" type="text" name="username" placeholder="username"
                 formControlName="username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-id-card" aria-hidden="true"></i>
						</span>
        </div>
        <div *ngIf="!username?.valid && username?.touched">
          <div [hidden]="!username?.errors?.['required']">
            <p style="color: red"> This field is required </p>
          </div>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>
        <div *ngIf="!password?.valid && password?.touched">
          <div [hidden]="!password?.errors?.['required']">
            <p style="color: red"> Password is required </p>
          </div>
          <div [hidden]="!password?.errors?.['minLength']">
            <p style="color: red"> Password need at least 6 words </p>
          </div>
          <div [hidden]="!password?.errors?.['minLength']">
            <p style="color: red"> First letter should be capitalized, number should in the end</p>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
        </div>
        {{message}}
        <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
          <a class="txt2">
            Username / Password?
          </a>
        </div>
        <div class="text-center p-t-13">
          <div class="container">
            <a class="btn btn-lg btn-social btn-facebook" style="font-size: 1.2rem;" (click)="loginWithFB()">
              <i class="fa fa-facebook fa-fw" ></i> Sign in with Facebook
            </a>
          </div>
        </div>
        <div class="text-center p-t-136">
          <a class="txt2" routerLink="/register">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
