<!--<form [formGroup]="shareForm" (ngSubmit)="share()">-->
<!--  <select class="form-control"  formControlName="wallet">-->
<!--    <option [value]="null" selected >chon vi</option>-->
<!--    <option *ngFor="let wallet of walletByUser" [value]="wallet.id">{{wallet.name}}</option>-->

<!--  </select>-->
<!--  <div>-->
<!--    <span style="color: red" role="alert" *ngIf="(shareForm.controls.wallet?.touched || submitted) && shareForm.controls.wallet?.errors?.required">Vui lòng chọn ví</span>-->
<!--  </div>-->

<!--  <div>-->
<!--    <button type="submit" class="btn btn-primary" [disabled]="shareForm.invalid">Share</button>-->
<!--  </div>-->

<!--  <input class="form-control" (change)="usernameCheck($event)" type="text" formControlName="user" placeholder="Nhập gmail">-->

<!--  <div>-->
<!--    <span style="color: red"  role="alert" *ngIf="(shareForm.controls.user?.touched || submitted) && !checkUser">Tên đăng nhập không tồn tại</span>-->
<!--  </div>-->
<!--  <button type="submit">gui</button>-->
<!--</form>-->

