<div class="col-7 m-auto">
  <br>
  <h1>Tạo ví</h1>
  <br>
</div>
<div  class="col-6  m-auto">
  <form class="" [formGroup]="walletForm" (ngSubmit)="submit()">
    <div class="row mt-3 form-group">
      <div class="col-2 ">Name</div>
      <div class="col-10"><input class="col-8" type="text" formControlName="name" ></div>
    </div>
    <div class=" row mt-3 form-group">
      <div class="col-2">Money</div>
      <div class="col-10"><input  class="col-8" type="number" formControlName="money" ></div>

    </div>

    <div class="row mt-3 form-group">
      <div class="col-2">Icon</div>
      <input type="file" #uploadFile (change)="uploadFileImg()" class="col-4" formControlName="icon" id="image" class="form-control" >
    </div>

    <div class="row">
      <div class="col-2 m-auto">
        <button type="submit" class="btn mt-4 btn-primary">Create</button>
      </div>

    </div>

  </form>
</div>
