<!-- Add Payment-->
<div class="content-wrapper">
  <form [formGroup]="paymentForm" (ngSubmit)="addPayment()">
    <table>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" formControlName="name">
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td>
          <input type="date" formControlName="date">
        </td>
      </tr>
      <tr>
        <td>Money</td>
        <td>
          <input type="number" formControlName="money">
        </td>
      </tr>
      <tr>
        <td>Category</td>
        <td>
          <select [(ngModel)]="newCategoryId" name="Category" formControlName="category">
            <option [value]="category.id" *ngFor="let category of listCategory,index as i">{{category.name}}</option>
          </select>
        </td>
      <tr>
        <td>Description</td>
        <td>
          <input formControlName="description" type="text">
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Add Payment</button>
<!--          <button type="submit">Delete Payment</button>-->
        </td>
      </tr>
    </table>
  </form>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Money</th>
    <th>Category</th>
    <th>Description</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  <h1>{{paymentList.length}}</h1>
  <tr *ngFor="let payment of paymentList">
    <td>{{payment.name}}</td>
    <td>{{payment.date}}</td>
    <td>{{payment.money}}</td>
    <td>{{payment.category.name}}</td>
    <td>{{payment.description}}</td>
    <td><button (click)="deletePayment(payment.id)" class="btn btn-gradient-danger btn-fw">Delete</button></td>
    <td><button (click)="updatePayment(payment.id)" class="btn btn-gradient-success btn-fw" data-toggle="modal" data-target="#updateModal">Update</button></td>
  </tr>
</table>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Payment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="paymentForm" (ngSubmit)="updatePaymentSubmit()">
          <table>
            <tr>
              <td>Name</td>
              <td>
                <input type="text" formControlName="name">
              </td>

            </tr>
            <tr>
              <td>Date</td>
              <td>
                <input type="date" formControlName="date">
              </td>
            </tr>
            <tr>
              <td>Money</td>
              <td>
                <input type="number" formControlName="money">
              </td>
            </tr>
            <tr>
              <td>Category</td>
              <td>
              <select [(ngModel)]="newCategoryId" name="Category" formControlName="category">
                <option [value]="category.id" *ngFor="let category of listCategory,index as i">{{category.name}}</option>
              </select>
              </td>

            <tr>
              <td>Description</td>
              <td>
                <input formControlName="description" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <button type="submit">Update Payment</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
